=======
Authors
=======

Primary
-------

* {{ author_name }} <{{ author_email }}>


Contributors
------------

None, yet... but with our powers combined.

For an up-to-date list of contributors, see {{ project_url }}/contributors
