#!/usr/bin/env python

import importlib.metadata


__title__ = '{{ project_name }}'
__version__ = importlib.metadata.version(__package__ or __name__)
__author__ = '{{ author_name }}'
__email__ = '{{ author_email }}'
__license__ = '{{ project_license }}'
# fmt: off
__copyright__ = "Copyright (c) {{ "%Y" | strftime }}, {{ author_name }}"  # noqa: B950, E501
# fmt: on


# vim: fenc=utf-8
# vim: filetype=python
